var config = {};

config.verify_token = "";
config.access_token = "";
config.ngrok_url = "";
config.port = 8888;

config.pythonScriptsPath = "./machine_learning_test/";
config.pythonPath = "/usr/bin/python2";

module.exports = config;
